/target
/.idea
/.ipynb_checkpoints
*.iml
/node_modules
/pkg
/pkg.bundler
/pkg.nodejs
/pkg.dist
/pkg.web
/pkg.web-parallel
/dist
/package
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
